---
import Layout from "../components/Layout.astro";
import SelfIntroduce from "../components/SelfIntroduce.astro";
import SpotifyPlaylist from "../components/SpotifyPlaylist.astro";

const title = "Takahito Sueda";
---

<Layout title={title}>
  <div class="flex flex-col gap-8">
    <section
      class="gapx-4 m-auto flex flex-wrap justify-center font-serif text-sm text-neutral-500"
    >
      <p>良く言えば自信があり行動が早い。</p>
      <p>悪く言えば傲慢で軽薄。</p>
    </section>
    <section class="flex flex-col gap-4">
      <h2>Hi! I'm @terfno.</h2>
      <SelfIntroduce />
      <p>
        An English version of this sentences is available on the <a
          class="underline decoration-2 underline-offset-2"
          href="/about">About</a
        > page.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <h2>Playlists</h2>
      <p>
        毎月 Spotify の Liked Songs を yyyy-mm という名前のプレイリストにして
        archive
        しています。思い出したらここに埋め込んでいるプレイリストも更新します。
      </p>
      <SpotifyPlaylist
        additional_class="sm:h-100"
        title="2026-06"
        url="https://open.spotify.com/embed/playlist/2IycqpwUhI0NRjW9MO5hPS?utm_source=generator&si=67375982b2ef44e5"
        loading="eager"
      />
      <p>
        趣味で DJ
        もしています。直近セトリを組んでやった時のリストを埋め込んでいます。これも思い出したら更新します。
      </p>
      <p>
        最近は rekordbox が Spotify 連携をするようになったので、即興的に DJ
        することが増え、こういったプレイリストを残すのが難しくなりました……
        演奏履歴とかからよしなにプレイリストを作らせてほしい。
      </p>
      <SpotifyPlaylist
        additional_class="sm:h-100"
        title="2025-12-31 ukfes#4 / DJ terfno"
        url="https://open.spotify.com/embed/playlist/6jTYPXpUl9YA4pkwS5vuP2?utm_source=generator&theme=0"
      />
      <h3>Past playlists</h3>
      <div>
        <SpotifyPlaylist
          title="2026-05"
          url="https://open.spotify.com/embed/playlist/06XDKYWonS8rHQ6CrQI0DS?theme=0"
        />
        <SpotifyPlaylist
          title="2026-04"
          url="https://open.spotify.com/embed/playlist/2qmW7RgoU00KhY4JRziBkG"
        />
        <SpotifyPlaylist
          title="2026-03"
          url="https://open.spotify.com/embed/playlist/32AQc3HMiqHschPJ65GBuZ"
        />
        <SpotifyPlaylist
          title="2026-02"
          url="https://open.spotify.com/embed/playlist/4QRJiIWL8Tn9qDCmCYGe3x"
        />
        <SpotifyPlaylist
          title="2026-01"
          url="https://open.spotify.com/embed/playlist/09qiXXFzJrgHWKHblo2U95"
        />
      </div>
    </section>
    <section class="flex flex-col gap-4">
      <h2>About sueda.jp</h2>
      <p>
        ぶっちゃけこういうページには何が書かれていたら嬉しいのかわかってないんですよね。でも人の
        portfolio
        を見るのは好きで。とりあえず今は自分の音楽性と大事にしていることをシュッとシェアできればそれでいいかな、と思ってこの構成になってます。
        <span>2026-02</span>
      </p>
      <h3>Built with</h3>
      <p>
        Astro.js をメインに Tailwind CSS でスタイリングしています。Utility First
        の考え方を理解したくて試してみているところです。悪くない気がします。
        GitHub Pages でホスティングしています。
        動画ファイルや写真ファイルを配信するようになったら Cloudflare R2
        を使いたいと思っています。
      </p>
    </section>
  </div>
</Layout>
