---
import Layout from '../components/Layout.astro'

const title = "Takahito Sueda"
---

<script>
  console.log("Hello Mate!")
  console.log("https://scrapbox.io/terfno/contact")
</script>

<Layout title={title}>
  <h1>{title}</h1>
  <p>Scrapbox を活用し始めました。</p>
  <p>ポートフォリオとして機能する予定です。</p>
  <p>
    <a href="https://scrapbox.io/terfno">
      terfno の Scrapbox
    </a>
  </p>
</Layout>
