---
import "../styles/global.css";

const { title, noindex } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    {noindex ? <meta name="robots" content="noindex" /> : null}
    <link rel="preconnect" href="https://secure.gravatar.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&family=Noto+Serif+JP:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image"
      href="https://secure.gravatar.com/avatar/2fda10ff8dccf267309cb551841e96c0.jpg?s=144"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script>
      console.log("Hello Mate!");
    </script>
  </body>
</html>
