---

---

<ol
  class="col-span-2 flex items-center justify-between px-4 py-4 text-right sm:col-span-1 sm:gap-4 sm:py-0"
>
  <li><a href="/about">ABOUT</a></li>
  <li><a href="/notes">NOTES</a></li>
  <li><a href="/contact">CONTACT</a></li>
</ol>
